* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #325288;
}

input,
label,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #325288;
  margin: 0.25em;
  border-radius: 0.15em;
}

input {
  border: 0.1em solid #325288;
  padding: 0.5em;
  width: 20%;
  /* align input text to the right */
  text-align: right;
}

button {
  background-color: #325288;
  color: #faeee7;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.col {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: 0.25em;
}

.input-section {
  flex: 1 1 25%;
}

.display-section {
  flex: 1 1 74%;
  /* set max height to viewport height */
  max-height: calc(100vh * 0.5);
}

.axis,
circle,
.hole-point,
.hole-text,
.tick {
  stroke: #325288;
  color: #325288;
  font-size: 0.5rem;
  /* change font to computer style */
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}

.hole-point {
  stroke: #d96098;
}

.tick {
  stroke: #24a19c;
}
