* {
    box-sizing: border-box;
  }
  
  body {
    background: black;
    stroke: hotpink;
    color:hotpink;
    font-family: "Audiowide", sans-serif;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

  }

  .svg {
    height:"500";
    width:"100%";
  }

 #svg .hole-text {
    font-family: "Audiowide", monospace;
    font-size: 16px;
    stroke: hotpink;
    fill: hotpink;
  }

  #svg .hole-point {
    stroke: blue;
    stroke-width: 2px;
  }

  #svg .hole-circle {
    stroke: white;
    stroke-width: 2px;
  }

  #svg .tick {
    stroke-width: 2px;
    stroke: hotpink;
  }

  #svg .axis {
    stroke: white;
    stroke-width: 2px;
  }

  .content-bx {
    border: 5px solid hotpink;
    padding: 10px;
    margin: 2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
  }

input {
    border: 1px solid hotpink;
    padding: 7px 15px;
    font-size: 16px;
    color: blue;
    background-color: tan;
    width: 100px;
    text-align:right;
    margin-bottom: 15px; 
    font-family: "Audiowide", sans-serif;
  }
  
label {
    margin: 0 5px;
    color:blue;
    font-family: "Audiowide", sans-serif;
  }
  
button {
    color: hotpink;
    background-color: black;
    border: 2px blue solid;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Audiowide", sans-serif;
  } 
  